/*  Fonts  */
@font-face {
    font-family: 'wcmanonegrabta';
    src: url('../fonts/wcmanonegrabta.eot');
    src: url('../fonts/wcmanonegrabta.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wcmanonegrabta.woff') format('woff'),
         url('../fonts/wcmanonegrabta.ttf') format('truetype'),
         url('../fonts/wcmanonegrabta.svg#wcmanonegrabta') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-regular';
    src: url('../fonts/aleo-regular.eot');
    src: url('../fonts/aleo-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-regular.woff') format('woff'),
         url('../fonts/aleo-regular.ttf') format('truetype'),
         url('../fonts/aleo-regular.svg#aleo-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-light';
    src: url('../fonts/aleo-light.eot');
    src: url('../fonts/aleo-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-light.woff') format('woff'),
         url('../fonts/aleo-light.ttf') format('truetype'),
         url('../fonts/aleo-light.svg#aleo-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-italic';
    src: url('../fonts/aleo-italic.eot');
    src: url('../fonts/aleo-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-italic.woff') format('woff'),
         url('../fonts/aleo-italic.ttf') format('truetype'),
         url('../fonts/aleo-italic.svg#aleo-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-bold';
    src: url('../fonts/aleo-bold.eot');
    src: url('../fonts/aleo-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-bold.woff') format('woff'),
         url('../fonts/aleo-bold.ttf') format('truetype'),
         url('../fonts/aleo-bold.svg#aleo-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Brunch menu font */
@font-face {
    font-family: Gabriola;
    font-weight: normal;
    font-style: normal;
    src: local("Gabriola Regular"), local("Gabriola"),
        url("Gabriola.eot"),                        /* IE 5+ */
        url('Gabriola.woff') format('woff'),        /* FF 3.6, Chrome 5, IE9 */
        url('Gabriola.ttf') format('truetype'),     /* Opera, Safari */
        url('Gabriola.svg#Gabriola') format('svg'); /* iOS */
}
/*  General CSS*/
body{
    background: #fff;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.row{
  padding: 10px;
}

.short-body{
  min-height: 550px;
}
/*  Navbar */
.navbar-brand-name > {

  display: inline-block;
  float: left;

}

.navbar-brand-name > img {
  display: inline-block;
  float: left;
  margin:  0 0 5px;
}

.navbar-right{
  margin-top: 15px;
}

/*
  navbar --
    height to 80px
    background color white

  pills active set to #f34949

  forms selected border and glow to pink
*/

/* Page content */
.section-header{
    width: 100%;
    overflow: hidden;
}

.section-header .header-title{
  text-align: center;
  margin-bottom: 80px;
}

.section-header .header-title h2{
    display: inline-block;
    margin: 0;
    padding: 20px 25px 35px 25px;
    background: url('../img/ribbon.svg') no-repeat;
    background-position: 50% 0;

    color: #fff;
    font-family: "aleo-bold", arial;
    font-size: 20px;
    font-weight: bold;
}

.page-section{
  padding-bottom: 100px;
  border-bottom: 5px solid #f34949;
}

.page-text p{
  color: #545454;
    font-family: "aleo-regular", arial;
    font-size: 20px;
    padding: 10px 40px 10px 0;
    letter-spacing: .5px;
    font-weight: normal;
}

.bell-house-front{
  background: url('../img/BellHouseFront.jpg') no-repeat center;
  height: 450px;
}

.map-header{
  width: 100%;
  float: left;
  position: absolute;
  z-index: 2;
}

.map-header .header-title{
  text-align: center;
}

.map-header .header-title h2{
    display: inline-block;
    margin: 0;
    padding: 20px 25px 35px 25px;
    background: url('../img/ribbon.svg') no-repeat;
    background-position: 50% 0;

    color: #fff;
    font-family: "aleo-bold", arial;
    font-size: 20px;
    font-weight: bold;
}

.map-section{
    border-bottom: 5px solid #f34949;
}

.map{
  background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=721+Main+Street+Downtown+Shelbyville,KY+40065&zoom=14&markers=size:mid%7color:red|721+Main+Street+Downtown+Shelbyville,KY+40065&size=1280x400&scale=2&key=AIzaSyC82zWWusdpasnTyTfCy2b38fn8uVI8dCU");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
}
.map:hover{
  -webkit-animation: blur 0.5s forwards;
  animation: blur 0.5s forwards;
}

@-webkit-keyframes blur {
  0% {-webkit-filter: blur(0px) brightness(100%); filter: blur(0px) brightness(100%);}
  100% { -webkit-filter: blur(2px) brightness(80%); filter: blur(2px) brightness(80%);}
}

/* --------------- Menu ----------------*/
/*    Menu section    */
/*.menu-section{
    margin-bottom: 80px;
}

.menu-section .section-title h2{
    color: #3b3b3b;
    font-family: "aleo-bold", arial;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.menu-section .section-title .separator{
    position: absolute;
    width: 200px;
    height: 1px;
    background: #e5e3e3;
    top: 15px;
    right: -220px;
}*/
.menu{
  border: 2px solid black;
  margin-bottom: 30px;
  font-family: Gabriola;
  padding: 50px;
  background-image: url('../img/bellMenuBackground.png');
  background-position: center;
  background-size: 100% 100%;
  background-clip: border-box;
}
.menu > h2 {
  font-size: 40px;
  text-decoration: underline;
}

.menu > h3 {
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
}

.menu > p{
  font-size: 20px;
  font-family: aleo-regular;
}

.menu > .bottom-text{
  margin-bottom: 40px;
}

/* Menu Item */
.menu{
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}

.menu .menu_title{
    text-align: center;
    margin-bottom: 80px;
}

.menu .menu_title h2{
    display: inline-block;
    margin: 0;
    padding: 20px 25px 35px 25px;
    background: url('../img/ribbon.svg') no-repeat;
    background-position: 50% 0;

    color: #fff;
    font-family: "aleo-bold", arial;
    font-size: 20px;
    font-weight: bold;
}

/* Menu item */

.menu{
    overflow: hidden;
    padding-bottom: 100px;
}

.menu .menu_title{
    text-align: center;
    margin-bottom: 80px;
}

.menu .menu_title h2{
    display: inline-block;
    margin: 0;
    padding: 20px 25px 35px 25px;
    background: url('../img/ribbon.svg') no-repeat;
    background-position: 50% 0;

    color: #fff;
    font-family: "aleo-bold", arial;
    font-size: 20px;
    font-weight: bold;
}

.menu .mean_menu{
    overflow: hidden;
}

.menu .hidden_items{
    display: none;
    overflow: hidden;
}

.menu .menu-col {
    overflow: hidden;
    list-style: none;
    padding: 0px;
}

.menu .menu-col {
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
}

.menu .menu-col .item_info{
    display: inline-block;
    float: left;
    width: 75%;
}

.menu .menu-col h3{
    color: #545454;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    padding: 0 40px 10px 0;
    letter-spacing: .5px;
    font-weight: normal;
}

.menu .menu-col .item_desc{
    color: #828282;
    font-family: "aleo-italic", arial;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    width: 75%;
}

.menu .menu-col .price{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #555;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    letter-spacing: .5px;
    background: #fff;
    margin: 0;
    font-weight: normal;
}

.item_info .item_header{
  margin-bottom: 10px;
}

.menu-page{
  height: 1500px;
}
#menu-image-page1{
  background-image: url("../img/lunch_page1.png");
}
#menu-image-page2{
  background-image: url("../img/lunch_page2.png");
}
#menu-image-page3{
  background-image: url("../img/lunch_page3.png");
}
#dinner-weekend-page1{
  background-image: url("../img/dinner_weekend_page2.png");
}
#dinner-weekend-page2{
  background-image: url("../img/dinner_weekend_page3.png");
}
#dinner-weekend-page3{
  background-image: url("../img/dinner_weekend_page4.png");
}
#dinner-weekday-page1{
  background-image: url("../img/dinner_weekday_page2.png");
}
#dinner-weekday-page2{
  background-image: url("../img/dinner_weekday_page3.png");
}
#dinner-weekday-page3{
  background-image: url("../img/dinner_weekday_page4.png");
}

.form-horizontal .form-group{
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

/*    footer    */
footer{
    width: 100%;
    padding: 75px 0;
    background: #3b3b3b;
    overflow: hidden;
}

footer h2{
    color: #fff;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}

footer h3{
    color: #ebebeb;
    font-family: "aleo-light", arial;
    font-weight: lighter;
}

footer h4{
    color: #fff;
    font-family: "aleo-bold", arial;
    font-weight: bold;
}

footer p{
    color: #ebebeb;
    font-family: "aleo-light", arial;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 1px;
}
